body {
    background: #000;
}

svg {
    font: 10px sans-serif;
    
    circle {
    }
}

.overlay {
    fill: none;
    pointer-events: all;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}